<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigationdrawerpractise">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Medical Era"
        android:roundIcon="@mipmap/iconn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity
            android:name=".MainDrawerActivity"
            android:label="@string/title_activity_main_drawer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Splash_Screen"
            android:label="Medical Era"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mapp"/>
        <activity android:name=".Contact"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".signupp" />
        <activity android:name=".Signup_Customer" />
        <activity android:name=".loginn"/>
        <activity android:name=".Consultancyy"/>
        <activity android:name=".Show_Consultancy"/>

    </application>

</manifest>